---
title: "paginations block"
---
<ul class="paginations">
    <li class="page-number out-number">
        <span>...</span>
    </li>
    <li class="page-number">
        <a href="#">2</a>
    </li>
    <li class="page-number">
        <a href="#">3</a>
    </li>
    <li class="page-number current-page">
        <span>4</span>
    </li>
    <li class="page-number">
        <a href="#">5</a>
    </li>
    <li class="page-number">
        <a href="#">6</a>
    </li>
    <li class="page-number out-number">
        <span>...</span>
    </li>
</ul>
<div class="pagination-navigation">
    <div class="pagination-arrow">
        <span><i class="fa fa-angle-left">&nbsp;</i></span>
    </div>
    <div class="pagination-arrow">
        <a href="#"><i class="fa fa-angle-right">&nbsp;</i></a>
    </div>
</div>