<div id="find_location_map" class="find-location-map-container">

</div>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDsDnsIB-bRkzyL9Hs8kaENEvbCSPbzkuo&callback=mapReady&libraries=geometry">
</script>

<script>
    window.mapIsReady = false;

    function mapReady() {
        window.mapIsReady = true;
    }
</script>