
<div class="container-fluid double-container-gutter find-location-content" data-require="base/views/find_location" data-service="/Static/data/location_data.json">
    <div class="row double-row-gutter">
        <div class="col-xs-12 double-column-gutter">
            {{> _find-location-select-filter }}
            {{> _find-location-map }}
        </div>
    </div>
</div>