.brand-landrover-container {
    .overview-content-block {
        text-align: center;
        .thumbnail {
            margin-bottom: 20px;
        }

        h3 {
            //@include latoBold();
            font-family: AvenirLTStd-Heavy; 
	        font-weight: normal; 
	        font-style: normal; 

            color: #202020;
            font-size: rem(15px);
            line-height: 1;
            text-transform: uppercase;
            border-top: 1px solid #010711;
            border-bottom: 1px solid #010711;
            padding: 5px 0;
            display: inline-block;
            margin: 0 auto;
            word-spacing: rem(2px);

            &:nth-child(n+2){
                display: none;
            }
        }
    }

    .brand-tabs-contents.tab-contents {
        .text-contents-row {
            p {
                font-family: AvenirLT-Book;
	            font-weight: normal;
	            font-style: normal;
            }
        }
    }

    .brand-model {
        .brand-model__item {
            &__text-container{
                h3 {
                    font-family: AvenirLTStd-Heavy; 
	                font-weight: normal; 
	                font-style: normal; 
                }

                p {
                    font-family: AvenirLT-Book;
	                font-weight: normal;
	                font-style: normal;
                }
            }

            &__price {
                span {
                    font-family: AvenirLT-Book;
	                font-weight: normal;
	                font-style: normal;

                    &.price {
                        font-family: AvenirLTStd-Heavy; 
	                    font-weight: normal; 
	                    font-style: normal;
                    }
                }
            }
        }
    }

    .brand-tab__container_model_brochure {
        .brand-model__item {
            .brand-model__item__text-container {
                h3, a.download-brochure {
                    font-family: AvenirLT-Book;
                    font-weight: normal;
                    font-style: normal;
                }
            }
        }
    }
}