
<div class="col-xs-12 col-sm-6 col-md-4 brand-model__item">
    <a href="#" title="">
        <div class="brand-model__item__image-container orange-top-border">
            <img class="brand-model__item__image-container__image" src="{{image}}" alt="" />
            <div class="brand-model__item__image-container__mask">&nbsp;</div>
        </div>
        <div class="brand-model__item__text-container">
            <h3>{{name}}</h3>
            <p>{{description}}</p>
        </div>
        <div class="brand-model__item__price">
            <span>Starting at <span class="price">AED {{price}}</span></span>
        </div>
    </a>
</div>