
<div class="col-xs-12 col-sm-6 col-md-4 double-column-gutter brand-model__item">
    <div class="brand-model__item__image-container orange-top-border">
        <a href="#" title=""><img class="brand-model__item__image-container__image" src="{{image}}" alt="" /></a>
    </div>
    <div class="brand-model__item__text-container">
        <h3>{{name}}</h3>
        <a href="{{url}}" class="download-brochure fancybox.iframe" data-require="base/views/fancy_box">{{link-text}}</a>
    </div>
</div>