---
title: "Home events block"
---
<div class="double-container-gutter container-fluid featured-container" data-require="base/modules/bootstrap-column-same-height">
    <div class="row double-row-gutter">
        <div class="col-xs-12 col-sm-4 col-md-4 double-column-gutter slide-in-from-bottom inactive checking-animate">
            {{> img-background-block}}
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 double-column-gutter slide-in-from-bottom inactive checking-animate">
            <div class="common-block img-background-block column-same-height" style="background-image: url('/assets/img/assets/img-block-bg2.jpg');">
                <h4 class="common-block-title">finance</h4>
                <div class="img-background-contents orange-top-border">
                    <p>Do you want the best financing and insurance for your car that won't burn a hole in your pocket?</p>
                    <a href="#" class="readmore">know your options</a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 double-column-gutter slide-in-from-bottom inactive checking-animate">
            {{> amber-block}}
        </div>
    </div>
</div>