---
title: "Brand Ford Overview Tab Contents"
---
<div class="brand-container brand-ferrari-container">
    {{> brand-tabs brand-ferrari-tabs }}
    
    <div id="brand_content_container">
        <div>
            <div class="brand-tabs-contents double-container-gutter container-fluid tab-contents">
                <div class="row text-contents-row double-row-gutter">
                    <div class="col-xs-12 double-column-gutter">
                        <p>This is brand overview description text lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse ut purus. Suspendisse tristique. Cras et sem at odio porttitor mattis. Donec dignissim ornare tortor. Donec lectus turpis, tempor id, cursus vitae, eleifend in, risus. Aenean turpis. Mauris ultricies quam malesuada ligula. </p>
                    </div>
                </div>
                <div class="row brand-content-row double-row-gutter">
                    <div class="col-xs-12 col-sm-4 col-md-4 double-column-gutter">
                        <div class="overview-content-block">
                            <div class="thumbnail">
                                <a href="#"><img src="/assets/img/ferrari-img.jpg" alt="" /></a>
                            </div>
                            <div class="block-overview">
                                <a href="#" title="">
                                    <h3>EXPLORE</h3>
                                    <h3>the new model lineup</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 double-column-gutter">
                        <div class="overview-content-block">
                            <div class="thumbnail">
                                <a href="#"><img src="/assets/img/ferrari-img1.jpg" alt="" /></a>
                            </div>
                            <div class="block-overview">
                                <a href="#" title="">
                                    <h3>EXPLORE</h3>
                                    <h3>CERTIFIED PRE-OWNED VEHICLES</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 double-column-gutter">
                        <div class="overview-content-block">
                            <div class="thumbnail">
                                <a href="#"><img src="/assets/img/ferrari-img2.jpg" alt="" /></a>
                            </div>
                            <div class="block-overview">
                                <a href="#" title="">
                                    <h3>discover</h3>
                                    <h3>after sales services</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>