---
title: "Book a Service"
---

<div class="container-fluid double-container-gutter book-page-top">
    <div class="row double-row-gutter">
        <div class="col-xs-12 double-column-gutter">
            <h1>Book a Test Drive</h1>
            <p>
                Thank you for your interest in scheduling a test drive. Please complete the form and our Sales Advisor will contact you shortly to tell you about our available inventory and to confirm an appointment for your driving pleasure. We look forward to meeting you!
            </p>
        </div>
    </div>
</div>


<div class="container-fluid double-container-gutter book-page-form">
    <form>
        <div class="row double-row-gutter" data-require="base/modules/custom_select_wrapper">
            <div class="col-xs-12 double-column-gutter">
                <h3 class="header-form-group">
                    <img src="/assets/img/icon_car.png" alt="" />
                    Vehicle Information
                </h3>
            </div>

            <div class="col-xs-12 col-sm-6 double-column-gutter">
                {{> select-item book-page.select_brand}}
            </div>
            <div class="col-xs-12 col-sm-6 double-column-gutter">
                {{> select-item book-page.select_model}}
            </div>
            <div class="col-xs-12 col-sm-6 double-column-gutter">
                {{> select-item book-page.select_branch}}
            </div>

            <div class="col-xs-12 double-column-gutter">
                <h3 class="header-form-group">
                    <img src="/assets/img/icon_personal.png" alt="" />
                    Personal Information
                </h3>
            </div>
            <div class="col-xs-12 col-sm-6 double-column-gutter">
                {{> input-text-item book-page.first_name}}
            </div>
            <div class="col-xs-12 col-sm-6 double-column-gutter">
                {{> input-text-item book-page.last_name}}
            </div>
            <div class="col-xs-12 col-sm-6 double-column-gutter">
                {{> select-item book-page.select_age}}
            </div>
            <div class="col-xs-12 col-sm-6 double-column-gutter">
                <div class="group-two-input">
                    {{> select-item finance_insurance.select_phone}}
                    {{> input-text-item finance_insurance.phone_input}}
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 double-column-gutter">
                {{> select-item book-page.select_city}}
            </div>
            <div class="col-xs-12 col-sm-6 double-column-gutter">
                {{> input-text-item book-page.uae}}
            </div>

            <div class="col-xs-12 double-column-gutter">
                <h3 class="header-form-group">
                    <img src="/assets/img/icon_verification.png" alt="" />
                    Verification Code
                </h3>
                <div class="g-recaptcha" data-sitekey="6LfKMhATAAAAABnDguv8544m_H8P1e-mhs8zGxde"></div>

                {{> checkbox book-page.checkbox}}
                <button class="button-common" type="Submit">Submit</button>
            </div>
        </div>
    </form>
</div>