---
title: "Brand Maserati Overview Tab Contents"
---
<div class="brand-container brand-maserati-container">
    {{> brand-tabs brand-maserati-tabs }}

    <div id="overview-tab-levante" data-require="base/brand_maserati_overview">
        <div>
            <div class="brand-tabs-contents double-container-gutter container-fluid tab-contents">
                <div class="row brand-content-row double-row-gutter">
                    <div class="col-xs-12 col-md-3 double-column-gutter">
                        <div class="overview-content-block">
                            <div class="thumbnail">
                                <img src="/assets/img/car-maserati-quattroporte.png" alt="quattroporte"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6 double-column-gutter">
                        <div class="overview-content-block">
                            <div class="thumbnail active">
                                <img src="/assets/img/car-maserati-levante.png" alt="levante"/>
                            </div>
                            <div class="label">
                                <p>Levante</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-3 double-column-gutter">
                        <div class="overview-content-block">
                            <div class="thumbnail">
                                <img src="/assets/img/car-maserati-ghibli.png" alt="ghibli"/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row brand-content-row double-row-gutter first">
                    <div class="col-xs-12">
                        <div class="btn-group">
                            <a class="btn" target="#care"><span>Care and Protection</span></a>
                            <a class="btn" target="#transport"><span>Transportation and Loading Solution</span></a>
                            <a class="btn" target="#comfort"><span>Comfort and Communication</span></a>
                            <a href="#modal-twenty" class="btn"><span>Safety Kit</span></a>
                            <a class="btn" target="#wheels"><span>Tire and Wheels</span></a>
                        </div>
                    </div>

                </div>

                <div class="row brand-content-row double-row-gutter second" id="care">
                    <div class="col-xs-12">
                        <div class="btn-group">
                            <a href="#modal-one" class="btn"><span>Indoor & Outdoor Car Cover</span></a>
                            <a href="#modal-two" class="btn"><span>Floor Mats</span></a>
                            <a href="#modal-three" class="btn"><span>Battery Charger and Conditioner</span></a>
                            <a class="btn" target="#protection"><span>Protective Film</span></a>
                        </div>
                    </div>
                </div>

                <div class="row brand-content-row double-row-gutter second" id="transport">
                    <div class="col-xs-12">
                        <div class="btn-group">
                            <a class="btn" target="#roof-rails"><span>Roof Rails</span></a>
                            <a href="#modal-eight" class="btn"><span>Roof Cross Bars</span></a>
                            <a href="#modal-nine" class="btn"><span>Roof Luggage Box</span></a>
                            <a href="#modal-ten" class="btn"><span>Roof Bike Carrier</span></a>
                            <a href="#modal-eleven" class="btn"><span>Tow bar Mounted Bike Carrier</span></a>
                            <a class="btn" target="#skid"><span>Skid Plate Kit</span></a>
                            <a class="btn" target="#retrofit"><span>Tow Hook Retrofit Kit</span></a>
                        </div>
                    </div>
                </div>

                <div class="row brand-content-row double-row-gutter second" id="comfort">
                    <div class="col-xs-12">
                        <div class="btn-group">
                            <a class="btn" target="#child-seat"><span>Child Seat</span></a>
                            <a href="#modal-nineteen" class="btn"><span>iPad Holder</span></a>
                        </div>
                    </div>
                </div>

                <div class="row brand-content-row double-row-gutter second" id="wheels">
                    <div class="col-xs-12">
                        <div class="btn-group">
                            <a href="#modal-twenty-one" class="btn"><span>Security Stud Bolt Kit</span></a>
                            <a href="#modal-twenty-two" class="btn"><span>Valve Covers</span></a>
                        </div>
                    </div>
                </div>


                <div class="row brand-content-row double-row-gutter second">
                    <div class="col-xs-12">
                        <div class="btn-group">
                            <a class="btn"><span>Security Stud Bolt Kit</span></a>
                            <a class="btn"><span>Valve Covers</span></a>
                        </div>
                    </div>
                </div>




                <div class="row brand-content-row double-row-gutter third" id="protection">
                    <div class="col-xs-12">
                        <div class="btn-group">
                            <a href="#modal-four" class="btn"><span>RH & LH side protective Film Kit</span></a>
                            <a href="#modal-five" class="btn"><span>Protective Film for Loading Edge</span></a>
                            <a class="btn"><span>LH and RH Side Protective Film Kit</span></a>
                        </div>
                    </div>
                </div>


                <div class="row brand-content-row double-row-gutter third" id="roof-rails">
                    <div class="col-xs-12">
                        <div class="btn-group">
                            <a href="#modal-six" class="btn"><span>Roof Rails Black Piano Version</span></a>
                            <a href="#modal-seven" class="btn"><span>Roof Rails Chrome Version</span></a>
                        </div>
                    </div>
                </div>


                <div class="row brand-content-row double-row-gutter third" id="skid">
                    <div class="col-xs-12">
                        <div class="btn-group">
                            <a href="#modal-twelve" class="btn"><span>Skid Plate Kit - Chrome Front and Rear</span></a>
                            <a href="#modal-thirteen" class="btn"><span>Skid Plate Kit - Black Front and Rear</span></a>
                        </div>
                    </div>
                </div>

                <div class="row brand-content-row double-row-gutter third" id="retrofit">
                    <div class="col-xs-12">
                        <div class="btn-group">
                            <a class="btn"><span>Tow Hook Retrofit Kit Chrome Skid Plate</span></a>
                            <a class="btn"><span>Tow Hook Retrofit Kit Black Skid Plate</span></a>
                        </div>
                    </div>
                </div>


                <div class="row brand-content-row double-row-gutter third" id="child-seat">
                    <div class="col-xs-12">
                        <div class="btn-group">
                            <a href="#modal-fourteen" class="btn"><span>Group 0 + Child Seat</span></a>
                            <a href="#modal-fifteen" class="btn"><span>Group 1 Child Seat</span></a>
                            <a href="#modal-sixteen" class="btn"><span>Group 2/3 Child Seat</span></a>
                            <a href="#modal-seventeen" class="btn"><span>Isofix base</span></a>
                            <a href="#modal-eighteen" class="btn"><span>Pushchair</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal -->


    <div class="modal" id="modal-one" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-header">
                <h2>Care and Protection</h2>
                <a href="#" class="btn-close" aria-hidden="true">
                    <img src="/assets/img/close-icon-modal.png" alt="close-icon-modal">
                </a>
            </div>
            <div class="modal-body">
                <div class="page">
                    <div class="col-half">
                        <img src="/assets/img/maserati/indoor-car-cover.jpg" alt="car-image">
                        <span>Indoor Car Cover</span>
                    </div>
                    <div class="col-half">
                        <h4>Fitted Cost: 1,568.00 AED</h4>
                        <p>The Indoor Car Cover, specially designed for the Levante, traces the
                            muscular lines of the car body, enveloping and protecting it to
                            perfection.</p>
                        <ul>
                            <li>Made-to-measure using a quality anti-laddering Maserati</li>
                            <li>Blue fabric.</li>
                            <li>The cover is finished with contrasting light-grey details that</li>
                            <li>further bring out the distinctiveness of the vehicle lines.</li>
                        </ul>
                    </div>
                </div>


                <div class="page">
                    <div class="col-half">
                        <img src="/assets/img/maserati/outdoor-car-cover.jpg" alt="car-image">
                        <span>Outdoor Car Cover</span>
                    </div>
                    <div class="col-half">
                        <h4>Fitted Cost: 2,264.00 AED</h4>
                        <p>The Outdoor Car Cover protects the vehicle against dust, scratches and the
                            effects of the weather.</p>
                        <ul>
                            <li>The high-performance fabric used makes the cover waterproof, breathable and
                                stretchable.</li>
                            <li>Eliminates the wind effects and provides a perfect fit under any conditions.</li>
                            <li>The cover comes in a light-grey colour and is branded with Maserati blue details that
                                highlight the muscular lines of the car.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal" id="modal-two" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-header">
                <h2>Care and Protection</h2>
                <a href="#" class="btn-close" aria-hidden="true">
                    <img src="/assets/img/close-icon-modal.png" alt="close-icon-modal">
                </a>
            </div>
            <div class="modal-body">
                <div class="page">
                    <div class="col-half">
                        <img src="/assets/img/maserati/floor-matts.jpg" alt="car-image">
                        <span>Floor Mats</span>
                    </div>
                    <div class="col-half">
                        <h4>Fitted Cost: 1,132.00 AED/Each</h4>
                        <p>The Indoor Car Cover, specially designed for the Levante, traces the
                            muscular lines of the car body, enveloping and protecting it to
                            perfection.</p>
                        <ul>
                            <li>Made-to-measure using a quality anti-laddering Maserati</li>
                            <li>Blue fabric.</li>
                            <li>The cover is finished with contrasting light-grey details that</li>
                            <li>further bring out the distinctiveness of the vehicle lines.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="modal-three" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-header">
                <h2>Care and Protection</h2>
                <a href="#" class="btn-close" aria-hidden="true">
                    <img src="/assets/img/close-icon-modal.png" alt="close-icon-modal">
                </a>
            </div>
            <div class="modal-body">
                <div class="page">
                    <div class="col-half">
                        <img src="/assets/img/maserati/car-battery-charger.jpg" alt="car-image">
                        <span>Battery Charger and Conditioner</span>
                    </div>
                    <div class="col-half">
                        <h4>Fitted Cost: 801.00 AED</h4>
                        <p>The Maserati Battery Conditioner is the ideal accessory to protect
                            your car battery, increasing its performance and lifetime.</p>
                        <p>
                            Simply apply it to the car battery and connect it to a power socket to maintain
                            the battery charge at a steady level, ranging from 95 to 100%.
                            The battery conditioner is extremely easy to use and does not need to be
                            programmed before use.
                            You may leave it connected for several months, without risking to damage the
                            vehicle.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="modal-four" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-header">
                <h2>Care and Protection</h2>
                <a href="#" class="btn-close" aria-hidden="true">
                    <img src="/assets/img/close-icon-modal.png" alt="close-icon-modal">
                </a>
            </div>
            <div class="modal-body">
                <div class="page">
                    <div class="col-half">
                        <img src="/assets/img/maserati/side-protective-films.jpg" alt="car-image">
                        <span>RH & LH Side Protective Films Body Colour Painted Parts</span>
                    </div>
                    <div class="col-half">
                        <h4>Fitted Cost: 662.00 AED/Each</h4>
                        <p>The Side Protection Kit comprises a film which provides optimal
                            protection of the car body in areas where impacts from gravel and
                            other external agents are most likely to occur. The film is made of
                            transparent urethane which does not change the colour of the
                            bodywork and does not turn yellow over time. The film is
                            moulded and covers the side panels of the vehicle with absolute
                            precision. It is simple and quick to apply using a water-based
                            solution, which does not leave any adhesive residue on the
                            application surfaces when it is removed.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="modal" id="modal-five" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-header">
                <h2>Care and Protection</h2>
                <a href="#" class="btn-close" aria-hidden="true">
                    <img src="/assets/img/close-icon-modal.png" alt="close-icon-modal">
                </a>
            </div>
            <div class="modal-body">
                <div class="page">
                    <div class="col-half">
                        <img src="/assets/img/maserati/protective-film.jpg" alt="car-image">
                        <span>Protective Film for Loading Edge</span>
                    </div>
                    <div class="col-half">
                        <h4>Fitted Cost: 691.00 AED</h4>
                        <p>Designed to provide the best protection, the Protective Film
                            for the Loading Edge is the ideal solution for preserving the
                            precious bodywork of the Levante, keeping its aesthetics
                            unaltered over time. The film is applied to the rear bumper to
                            protect the area mainly exposed to possible scrapes and
                            damage caused by suitcases and various objects that may hit
                            the luggage compartment while loading and unloading. The
                            shaped film is transparent, so that the colour of the bodywork
                            is not altered, and does not yellow over time. After removal, it
                            does not leave any residues on the application surface.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="modal" id="modal-six" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-header">
                <h2>Transportation and Loading Solution</h2>
                <a href="#" class="btn-close" aria-hidden="true">
                    <img src="/assets/img/close-icon-modal.png" alt="close-icon-modal">
                </a>
            </div>
            <div class="modal-body">
                <div class="page">
                    <div class="col-half">
                        <img src="/assets/img/maserati/roof-rails-piano.jpg" alt="car-image">
                        <span>Roof Rails Black Piano Version ( Retrofit Kit )</span>
                    </div>
                    <div class="col-half">
                        <h4>Fitted Cost: 4,200.00 AED</h4>
                        <p>The Levante Accessories for the Roof are a valuable and
                            effective aid for the driver when luggage, sports equipment
                            or other items need to be comfortably carried. Each
                            individual accessory has been specially tested and approved
                            by Maserati to certify that it perfectly meets the vehicle
                            technical features and maintains an accurate balance
                            between road and off-road performance. The Roof Rails,
                            which perfectly follow the lines of the bodywork, are the
                            basic element for using many transport solutions available in
                            the Accessories range. At the same time, they add to the car
                            aesthetics, highlighting the harmonious and sporty lines of
                            the Levante. Depending on the desired vehicle equipment,
                            the Roof Rails are available in two different versions: with
                            “Chrome” colour or “Black Piano” colour finishing. If these
                            parts were not chosen as first equipment or Optional (OPT)
                            when ordering the vehicle, and the owner would like to
                            install them at a later stage, the dedicated Retrofit Kits are
                            available in the Genuine Accessories range.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="modal-seven" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-header">
                <h2>Transportation and Loading Solution</h2>
                <a href="#" class="btn-close" aria-hidden="true">
                    <img src="/assets/img/close-icon-modal.png" alt="close-icon-modal">
                </a>
            </div>
            <div class="modal-body">
                <div class="page">
                    <div class="col-half">
                        <img src="/assets/img/maserati/roof-rails-chrome.jpg" alt="car-image">
                        <span>Roof Rails Chrome Version (Retrofit Kit)</span>
                    </div>
                    <div class="col-half">
                        <h4>Fitted Cost: 4,200.00 AED</h4>
                        <p>The Levante Accessories for the Roof are a valuable and
                            effective aid for the driver when luggage, sports equipment or
                            other items need to be comfortably carried. Each individual
                            accessory has been specially tested and approved by Maserati
                            to certify that it perfectly meets the vehicle technical features
                            and maintains an accurate balance between road and off-road
                            performance. The Roof Rails, which perfectly follow the lines
                            of the bodywork, are the basic element for using many
                            transport solutions available in the Accessories range. At the
                            same time, they add to the car aesthetics, highlighting the
                            harmonious and sporty lines of the Levante. Depending on
                            the desired vehicle equipment, the Roof Rails are available in
                            two different versions: with “Chrome” colour or “Black Piano”
                            colour finishing. If these parts were not chosen as first
                            equipment or Optional (OPT) when ordering the vehicle, and
                            the owner would like to install them at a later stage, the
                            dedicated Retrofit Kits are available in the Genuine
                            Accessories range.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="modal-eight" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-header">
                <h2>Transportation and Loading Solution</h2>
                <a href="#" class="btn-close" aria-hidden="true">
                    <img src="/assets/img/close-icon-modal.png" alt="close-icon-modal">
                </a>
            </div>
            <div class="modal-body">
                <div class="page">
                    <div class="col-half">
                        <img src="/assets/img/maserati/roof-cross-bars.jpg" alt="car-image">
                        <span>Roof Cross Bars</span>
                    </div>
                    <div class="col-half">
                        <h4>Fitted Cost: 2,075.00 AED</h4>
                        <p>To install the Roof Cross Bars, the vehicle must be
                            equipped with the roof rails, available as OPT 357 or as
                            Retrofit Kit.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="modal-nine" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-header">
                <h2>Transportation and Loading Solution</h2>
                <a href="#" class="btn-close" aria-hidden="true">
                    <img src="/assets/img/close-icon-modal.png" alt="close-icon-modal">
                </a>
            </div>
            <div class="modal-body">
                <div class="page">
                    <div class="col-half">
                        <img src="/assets/img/maserati/roof-luggage-box.jpg" alt="car-image">
                        <span>Roof Luggage Box</span>
                    </div>
                    <div class="col-half">
                        <h4>Fitted Cost: 4,406.00 AED</h4>
                        <p>The spacious Roof Luggage Box has been optimised to perfectly
                            combine style and space. Lightweight and aerodynamic, the box
                            boasts a volume of 410 litres, dramatically increasing the loading
                            capacity of the vehicle. The box has a double opening system to
                            help loading and unloading operations, under any conditions.</p>
                        <ul>
                            <li>Colour: Glossy Black.</li>
                            <li>Weight (Kg.): 16.</li>
                            <li>Load Capacity (Kg.): 45</li>
                            <li>Volume (l): 410</li>
                            <li>Straps: 3</li>
                        </ul>
                        <p>
                            Vehicle Note:
                            To install the Roof Luggage Box, the vehicle must be equipped with the Roof
                            rail and Cross Bars.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal" id="modal-ten" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-header">
                <h2>Transportation and Loading Solution</h2>
                <a href="#" class="btn-close" aria-hidden="true">
                    <img src="/assets/img/close-icon-modal.png" alt="close-icon-modal">
                </a>
            </div>
            <div class="modal-body">
                <div class="page">
                    <div class="col-half">
                        <img src="/assets/img/maserati/roof-bike-carrier.jpg" alt="car-image">
                        <span>Roof Bike Carrier</span>
                    </div>
                    <div class="col-half">
                        <h4>Fitted Cost: 1,684.00 AED</h4>
                        <p>The Roof Bike Carrier is extremely practical and lightweight,
                            and can be used to transport a bike quickly and safely, without
                            any risk of damaging the vehicle and its equipment. The special
                            system design keeps the bike in position by means of three
                            locking devices: one on the frame, equipped with a padded
                            clamp, and two on the wheels, with an adjustable diagonal
                            quick-release strap.</p>
                        <span>Technical Specs:</span>
                        <ul>
                            <li>Max. number of bikes: 1</li>
                            <li>Load Capacity (kg.): 20</li>
                            <li>Mounting of bike: frame/wheel</li>
                            <li>Fits frame dimensions (mm): Up to 100</li>
                        </ul>
                        <p>
                            Vehicle Note:
                            To install the Roof Bike Carrier, the vehicle must be equipped with the Roof
                            rails & Cross Bars.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="modal-eleven" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-header">
                <h2>Transportation and Loading Solution</h2>
                <a href="#" class="btn-close" aria-hidden="true">
                    <img src="/assets/img/close-icon-modal.png" alt="close-icon-modal">
                </a>
            </div>
            <div class="modal-body">
                <div class="page">
                    <div class="col-half">
                        <img src="/assets/img/maserati/tow-bar-mounted-bike-carrier.jpg" alt="car-image">
                        <span>Towbar mounted bike carrier</span>
                    </div>
                    <div class="col-half">
                        <h4>Fitted Cost: 7,194.00 AED</h4>
                        <p>The Towbar Mounted Bike Carrier is the ideal solution for
                            everyday transport of up to 3 bikes: compact, lightweight and
                            easy to use, the system is securely fastened to the towbar by
                            means of a practical handle. A convenient pedal-operated
                            mechanism enables the bikes to be tilted for easy access to the
                            luggage compartment, even when being transported. It is
                            equipped with a double lock to secure the towbar system and
                            bikes to the support.</p>
                        <span>Technical Specs:</span>
                        <ul>
                            <li>Max. number of bikes: 3</li>
                            <li>Load Capacity (kg): 45</li>
                            <li>Max bike weight (kg): 20</li>
                            <li>Product Size: 74 x 126 x 80</li>
                            <li>Weight (kg.): 45</li>
                            <li>Fits frame dimensions (mm): 20-80</li>
                            <li>Wheel distance (cm): 19</li>
                        </ul>
                        <p>
                            Vehicle Note:
                            To install the Towbar Mounted Bike Carrier, the vehicle must be equipped with
                            the Towbar available as OPT AHX or as Retrofit Kit.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="modal-twelve" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-header">
                <h2>Transportation and Loading Solution</h2>
                <a href="#" class="btn-close" aria-hidden="true">
                    <img src="/assets/img/close-icon-modal.png" alt="close-icon-modal">
                </a>
            </div>
            <div class="modal-body">
                <div class="page">
                    <div class="col-half">
                        <img src="/assets/img/maserati/skid-chrome.jpg" alt="car-image">
                        <span>Front & Rear Skid Plate Chrome (retrofit kit)</span>
                    </div>
                    <div class="col-half">
                        <h4>Fitted Cost: 6,321.00 AED</h4>
                        <p>Developed to protect the bodywork, the front and rear Skid
                            Plates translate into a clear stylish element that perfectly
                            blends with the design of the vehicle and that strongly
                            emphasizes its look with an even more dynamic character.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="modal-thirteen" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-header">
                <h2>Transportation and Loading Solution</h2>
                <a href="#" class="btn-close" aria-hidden="true">
                    <img src="/assets/img/close-icon-modal.png" alt="close-icon-modal">
                </a>
            </div>
            <div class="modal-body">
                <div class="page">
                    <div class="col-half">
                        <img src="/assets/img/maserati/skid-black.jpg" alt="car-image">
                        <span>Front & Rear Skid Plate Black (retrofit kit)</span>
                    </div>
                    <div class="col-half">
                        <h4>Fitted Cost: 6,321.00 AED</h4>
                        <p>Developed to protect the bodywork, the front and rear Skid lates
                            translate into a clear stylish element that perfectly blends with
                            the design of the vehicle and that strongly emphasises its look
                            with an even more dynamic character.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="modal-fourteen" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-header">
                <h2>Comfort and Communication</h2>
                <a href="#" class="btn-close" aria-hidden="true">
                    <img src="/assets/img/close-icon-modal.png" alt="close-icon-modal">
                </a>
            </div>
            <div class="modal-body">
                <div class="page">
                    <div class="col-half">
                        <img src="/assets/img/maserati/group-zero-child-seat.jpg" alt="car-image">
                        <span>Group 0 + child seat</span>
                    </div>
                    <div class="col-half">
                        <h4>Fitted Cost: 1,336.00 AED</h4>
                        <p>The Maserati Group 0+ Child Seat, created exclusively for the
                            Ghibli, is the result of a partnership with Peg-Pérego, the Italian
                            company renowned for its high quality, Italian-made baby
                            products. This child seat has been tested according to rigorous
                            Euro NCAP child safety standards.
                            The upholstery, specially designed for Maserati, is a
                            combination of dark grey fabric and black leather and is
                            embellished by contrasting light grey stitching. The Child Seat is
                            Maserati branded and personalized with the Trident logo on the
                            headrest and the name "Maserati" written on the seat belt
                            fitting.
                            The Group 0+ Child Seat can be easily attached to the ISOFIX
                            base (available separately) on the back seat only.
                        </p>
                        <h5>Features:</h5>
                        <ul>
                            <li>Adjustable side impact protection with five different heights</li>
                            <li>Body support for newborns</li>
                            <li>Handy button to adjust the tension and the length of the straps</li>
                            <li>Adjustable hood and handlebar</li>
                            <li>It can be used at home as a reclined cradle</li>
                            <li>It can be used in combination with the pushchair.</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="modal-fifteen" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-header">
                <h2>Comfort and Communication</h2>
                <a href="#" class="btn-close" aria-hidden="true">
                    <img src="/assets/img/close-icon-modal.png" alt="close-icon-modal">
                </a>
            </div>
            <div class="modal-body">
                <div class="page">
                    <div class="col-half">
                        <img src="/assets/img/maserati/group-one-child-seat.jpg" alt="car-image">
                        <span>Child Seat Group 1 (from 9 to 18kg)</span>
                    </div>
                    <div class="col-half">
                        <h4>Fitted Cost: 1,893.00 AED</h4>
                        <p>The Maserati Child Seat Group 1 is the result of the partnership
                            with Peg Pérego, a well-known Italian company for high quality
                            and Made-in-Italy juvenile products.
                            The child seat has undergone all required safety tests and is typeapproved
                            according to the European ECE R44/04 standard.
                            The seat cover is made of a combination of dark grey fabric and
                            black leather embellished with light grey stitching, especially
                            developed for Maserati. The seat is Maserati branded with the
                            Trident logo on the headrest and “Maserati” writing on the child
                            seat’s security belt fastener.
                            Group 1 Child Seat can be fastened easily onto the ISOFIX Base
                            (separately available) or installed using the car’s seat belt.</p>
                        <h5>Features:</h5>
                        <ul>
                            <li>Adjustable side impact protection</li>
                            <li>Reclines into four positions</li>
                            <li>Adjustable 5-point safety harnesses</li>
                            <li>It can be used at home as a reclined cradle</li>
                            <li>Adjustable, padded shoulder harnesses</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="modal-sixteen" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-header">
                <h2>Comfort and Communication</h2>
                <a href="#" class="btn-close" aria-hidden="true">
                    <img src="/assets/img/close-icon-modal.png" alt="close-icon-modal">
                </a>
            </div>
            <div class="modal-body">
                <div class="page">
                    <div class="col-half">
                        <img src="/assets/img/maserati/group-multi-child-seat.jpg" alt="car-image">
                        <span>Child Seat Group 2/3</span>
                    </div>
                    <div class="col-half">
                        <h4>Fitted Cost: 1,225.00 AED</h4>
                        <p>The Maserati Child Seat Group 2/3 is the result of the partnership with Peg
                            Pérego, a well-known Italian company for high quality and Made-in-Italy
                            juvenile products.The child seat has undergone all required safety tests and
                            is type-approved according to the European ECE R44/04 standard.
                            The seat cover is made of a combination of dark grey fabric and black
                            leather embellished with light grey stitching, especially developed for
                            Maserati. The seat is Maserati branded with the Trident logo on the
                            headrest and “Maserati” writing on the child seat’s security belt fastener.
                            The Group 2/3 is quick and easy to secure to the vehicle seat using the
                            car’s seat belt and the two hooks on the rear of the child seat.</p>
                        <h5>Features:</h5>
                        <ul>
                            <li>Broad backrest and supportive headrest provide protection from side impacts.</li>
                            <li>Reclining backrest.</li>
                            <li>Side Protection ensures maximum stability when turning corners.</li>
                            <li>Light, easy to use and simple to remove.</li>
                            <li>The hooks allow to attach the seat to the vehicle Isofix anchors providing extra stability.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="modal" id="modal-seventeen" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-header">
                <h2>Comfort and Communication</h2>
                <a href="#" class="btn-close" aria-hidden="true">
                    <img src="/assets/img/close-icon-modal.png" alt="close-icon-modal">
                </a>
            </div>
            <div class="modal-body">
                <div class="page">
                    <div class="col-half">
                        <img src="/assets/img/maserati/isofix.jpg" alt="car-image">
                        <span>ISOFIX BASE</span>
                    </div>
                    <div class="col-half">
                        <h4>Fitted Cost: 725.00 AED</h4>
                        <p>The Isofix Base 0+/1 is fastened onto the car's Isofix attachments
                            without using seat belts and it remains installed at all times, ready
                            to accommodate the child seat Group 0+ or 1. Thanks to the Isofix
                            Base, the child seat can be securely fitted to the car with one
                            simple, safe and quick action, which only takes a few seconds.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal" id="modal-eighteen" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-header">
                <h2>Comfort and Communication</h2>
                <a href="#" class="btn-close" aria-hidden="true">
                    <img src="/assets/img/close-icon-modal.png" alt="close-icon-modal">
                </a>
            </div>
            <div class="modal-body">
                <div class="page">
                    <div class="col-half">
                        <img src="/assets/img/maserati/pushchair.jpg" alt="car-image">
                        <span>Pushchair</span>
                    </div>
                    <div class="col-half">
                        <h4>Fitted Cost: 3,088.00 AED</h4>
                        <p>The Isofix Base 0+/1 is fastened onto the car's Isofix attachments
                            without using seat belts and it remains installed at all times, ready
                            to accommodate the child seat Group 0+ or 1. Thanks to the Isofix
                            Base, the child seat can be securely fitted to the car with one
                            simple, safe and quick action, which only takes a few seconds.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal" id="modal-nineteen" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-header">
                <h2>Safety Kit</h2>
                <a href="#" class="btn-close" aria-hidden="true">
                    <img src="/assets/img/close-icon-modal.png" alt="close-icon-modal">
                </a>
            </div>
            <div class="modal-body">
                <div class="page">
                    <div class="col-half">
                        <img src="/assets/img/maserati/i-pad-holder.jpg" alt="car-image">
                        <span>iPad Holder</span>
                    </div>
                    <div class="col-half">
                        <h4>Fitted Cost: 1,138.00 AED</h4>
                        <p>To provide Maserati Customers the opportunity to
                            comfortably use their tablet even on the road, Maserati
                            developed the iPad Holder for 4th Generation iPad.
                            Embellished with a silver grey Maserati logo on the inside of
                            the protection case, the iPad Holder fits easily onto the front
                            seats headrest thanks to the specific mount provided in the
                            kit. The iPad Holder, made in black soft touch, is suitable for
                            4th Generation iPad (with lightning connector) and can be
                            adjusted in various positions. The wireless InfraRed
                            functionality of the iPad Holder allows the passenger to
                            connect an infrared headphone to the iPad making the
                            journey as relaxing as possible (the headphone is not included
                            in the package).</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal" id="modal-twenty" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-header">
                <h2>Safety Kit</h2>
                <a href="#" class="btn-close" aria-hidden="true">
                    <img src="/assets/img/close-icon-modal.png" alt="close-icon-modal">
                </a>
            </div>
            <div class="modal-body">
                <div class="page">
                    <div class="col-half">
                        <img src="/assets/img/maserati/safety-kit.jpg" alt="car-image">
                        <span>Safety Kit</span>
                    </div>
                    <div class="col-half">
                        <h4>Fitted Cost: 535.00 AED</h4>
                        <p>The Emergency Kit helps you calmly deal with any
                            unexpected situations during your trip. It comes in a smart
                            case that fits perfectly into the recess on the left-hand side
                            of the luggage compartment.</p>
                        <h5>The kit consists of the following items*:</h5>
                        <ul>
                            <li>Safety Triangle</li>
                            <li>Reflective Vest</li>
                            <li>Lightsticks</li>
                            <li>Wind-Up Torch</li>
                            <li>First-Aid Kit</li>
                            <li>Gloves</li>
                        </ul>
                        <span>*The items in the kit may vary from country to country.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="modal-twenty-one" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-header">
                <h2>Safety Kit</h2>
                <a href="#" class="btn-close" aria-hidden="true">
                    <img src="/assets/img/close-icon-modal.png" alt="close-icon-modal">
                </a>
            </div>
            <div class="modal-body">
                <div class="page">
                    <div class="col-half">
                        <img src="/assets/img/maserati/security-stud-bolt-kit.jpg" alt="car-image">
                        <span>Security Stud Bolt Kit</span>
                    </div>
                    <div class="col-half">
                        <h4>Fitted Cost: 728.00 AED</h4>
                        <p>The special Security Stud Bolts, specially designed for the
                            Levante, make the vehicle more secure against the risk of
                            wheel rim theft, as the wheels may be fitted and
                            removed only using the special wrench provided in the
                            kit. The stud head features a special design that
                            combines an appealing look with the greatest
                            functionality.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal" id="modal-twenty-two" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-header">
                <h2>Safety Kit</h2>
                <a href="#" class="btn-close" aria-hidden="true">
                    <img src="/assets/img/close-icon-modal.png" alt="close-icon-modal">
                </a>
            </div>
            <div class="modal-body">
                <div class="page">
                    <div class="col-half">
                        <img src="/assets/img/maserati/valve-cap.jpg" alt="car-image">
                        <span>Valve Covers</span>
                    </div>
                    <div class="col-half">
                        <h4>Fitted Cost: 266.00 AED</h4>
                        <p>The Valve Caps add an extra touch of elegance. The caps
                            are made of a lightweight, rust-proof material, resistant
                            to all weather conditions. The Trident logo embosses on
                            the cap personalizes the valve cover.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>