---
title: "Brand Maserati Overview Tab Contents"
---
<div class="brand-container brand-maserati-container">
    {{> brand-tabs brand-maserati-tabs }}

    <div id="overview-tab-levante">
        <div>
            <div class="brand-tabs-contents container-fluid tab-contents">
                <div class="row brand-content-row owl-carousel owl-theme car-carousel" data-require="base/views/initialize-carousel">
                    <div class="thumbnail">
                        <img src="/assets/img/maserati/car-maserati-quattroporte.png" alt="quattroporte"/>
                        <div class="label">
                            <p>Quattroporte</p>
                        </div>
                    </div>

                    <div class="thumbnail">
                        <img src="/assets/img/maserati/car-maserati-levante.png" alt="levante"/>
                        <div class="label">
                            <p>Levante</p>
                        </div>
                    </div>

                    <div class="thumbnail">
                        <img src="/assets/img/maserati/car-maserati-ghibli.png" alt="ghibli"/>
                        <div class="label">
                            <p>Ghibli</p>
                        </div>
                    </div>
                </div>

                <div class="button-block" data-require="base/brand_maserati_overview">
                    <div class="row brand-content-row">
                        <div class="col-xs-12 first">
                            <div class="btn-group">
                                <a class="btn" target="#care"><span>Care and Protection</span></a>
                                <a class="btn" target="#transport"><span>Transportation and Loading Solution</span></a>
                                <a class="btn" target="#comfort"><span>Comfort and Communication</span></a>
                                <a data="#modal-twenty" class="btn"><span>Safety Kit</span></a>
                                <a class="btn" target="#wheels"><span>Tire and Wheels</span></a>
                            </div>
                        </div>

                    </div>

                    <div class="row brand-content-row">
                        <div class="col-xs-12 second" id="care">
                            <div class="btn-group">
                                <a data="#modal-one" class="btn"><span>Indoor & Outdoor Car Cover</span></a>
                                <a data="#modal-two" class="btn"><span>Floor Mats</span></a>
                                <a data="#modal-three" class="btn"><span>Battery Charger and Conditioner</span></a>
                                <a class="btn" target="#protection"><span>Protective Film</span></a>
                            </div>
                        </div>
                    </div>

                    <div class="row brand-content-row">
                        <div class="col-xs-12 second" id="transport">
                            <div class="btn-group">
                                <a class="btn" target="#roof-rails"><span>Roof Rails</span></a>
                                <a data="#modal-eight" class="btn"><span>Roof Cross Bars</span></a>
                                <a data="#modal-nine" class="btn"><span>Roof Luggage Box</span></a>
                                <a data="#modal-ten" class="btn"><span>Roof Bike Carrier</span></a>
                                <a data="#modal-eleven" class="btn"><span>Tow bar Mounted Bike Carrier</span></a>
                                <a class="btn" target="#skid"><span>Skid Plate Kit</span></a>
                                <a class="btn" target="#retrofit"><span>Tow Hook Retrofit Kit</span></a>
                            </div>
                        </div>
                    </div>

                    <div class="row brand-content-row">
                        <div class="col-xs-12 second" id="comfort">
                            <div class="btn-group">
                                <a class="btn" target="#child-seat"><span>Child Seat</span></a>
                                <a data="#modal-nineteen" class="btn"><span>iPad Holder</span></a>
                            </div>
                        </div>
                    </div>

                    <div class="row brand-content-row">
                        <div class="col-xs-12 second" id="wheels">
                            <div class="btn-group">
                                <a data="#modal-twenty-one" class="btn"><span>Security Stud Bolt Kit</span></a>
                                <a data="#modal-twenty-two" class="btn"><span>Valve Covers</span></a>
                            </div>
                        </div>
                    </div>


                    <div class="row brand-content-row">
                        <div class="col-xs-12 second">
                            <div class="btn-group">
                                <a class="btn"><span>Security Stud Bolt Kit</span></a>
                                <a class="btn"><span>Valve Covers</span></a>
                            </div>
                        </div>
                    </div>




                    <div class="row brand-content-row">
                        <div class="col-xs-12 third" id="protection">
                            <div class="btn-group">
                                <a data="#modal-four" class="btn"><span>RH & LH side protective Film Kit</span></a>
                                <a data="#modal-five" class="btn"><span>Protective Film for Loading Edge</span></a>
                                <a data="#modal-twenty-three" class="btn"><span>LH and RH Side Protective Film Kit</span></a>
                            </div>
                        </div>
                    </div>


                    <div class="row brand-content-row">
                        <div class="col-xs-12 third" id="roof-rails">
                            <div class="btn-group">
                                <a data="#modal-six" class="btn"><span>Roof Rails Black Piano Version</span></a>
                                <a data="#modal-seven" class="btn"><span>Roof Rails Chrome Version</span></a>
                            </div>
                        </div>
                    </div>


                    <div class="row brand-content-row">
                        <div class="col-xs-12 third" id="skid">
                            <div class="btn-group">
                                <a data="#modal-twelve" class="btn"><span>Skid Plate Kit - Chrome Front and Rear</span></a>
                                <a data="#modal-thirteen" class="btn"><span>Skid Plate Kit - Black Front and Rear</span></a>
                            </div>
                        </div>
                    </div>

                    <div class="row brand-content-row">
                        <div class="col-xs-12 third" id="retrofit">
                            <div class="btn-group">
                                <a data="#modal-twenty-four" class="btn"><span>Tow Hook Retrofit Kit Chrome Skid Plate</span></a>
                                <a data="#modal-twenty-five" class="btn"><span>Tow Hook Retrofit Kit Black Skid Plate</span></a>
                            </div>
                        </div>
                    </div>


                    <div class="row brand-content-row">
                        <div class="col-xs-12 third" id="child-seat">
                            <div class="btn-group">
                                <a data="#modal-fourteen" class="btn"><span>Group 0 + Child Seat</span></a>
                                <a data="#modal-fifteen" class="btn"><span>Group 1 Child Seat</span></a>
                                <a data="#modal-sixteen" class="btn"><span>Group 2/3 Child Seat</span></a>
                                <a data="#modal-seventeen" class="btn"><span>Isofix base</span></a>
                                <a data="#modal-eighteen" class="btn"><span>Pushchair</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    {{> brand-modals brand-maserati-modals }}
    <!-- /Modal -->


</div>