<div class="col-xs-6 col-sm-4 col-md-15 feature-item__column">
    <div class="feature-item__container">
        {{#if this.icon}}
            <img src="{{this.icon}}" alt="" />
        {{/if}}
        <span class="feature-item__text-container">
            <span class="feature-item__normal-text">{{this.normalText}}</span>
            <span class="feature-item__bold-text">{{this.boldText}}</span>
        </span>
    </div>
</div>