
<div class="container-fluid double-container-gutter quicklink-container">
    <div class="row">
        {{#each vehicle-detail.quicklink}}
            {{> _vehicle-detail-quicklink-item this}}
        {{/each}}
    </div>
</div>