
<div class="container-fluid vehicle-feature-container" data-require="base/views/featured-item-column">
    <div class="row">
        {{#each this.features}}
        {{> _vehicle-detail-feature-item this}}
        {{/each}}
    </div>
</div>