---
title: "Trade In page"
---
<div class="brand-container brand-ford-container tradein-container">
    <div id="brand_content_container">
        <div>
            <div class="container-fluid double-container-gutter aftersales-container no-slider-padding" style="background: #efefef url('/assets/img/after-sales-bg.jpg') no-repeat scroll left top;">
                <div class="row double-row-gutter">
                    <div class="col-xs-12 col-lg-8 double-column-gutter">
                        <div class="after-sales-main__container">
                            <h1 class="big-heading-group">Trade-In</h1>
                            <p>Al Tayer Motors provides it's customers, the option of trading in the car that they own. Trade-in facility is available across all brands and models.</p>
                            <p>The highlights of this facility include the following.</p>
                            <ul>
                                <li>Experienced&nbsp;values</li>
                                <li>Best and honest valuation</li>
                                <li>No transaction fees</li>
                                <li>Hassle free process</li>
                            </ul>
                            <p>For more details, contact us on the following.</p>
                            <p>Email: <a href="mailto:info@altayermotors.com">info@altayermotors.com</a><br> Phone: 800-MOTORS (800-668677)<br> <b>Locations</b><br> Dubai, Al Tayer Motors Centre<br> 04-3037595, 04-3037596<br> Abu Dhabi, Khalidiya<br> 02-6917019 Ext: 17019<br> Abu Dhabi, Musaffah<br> 02-6882997 Ext: 82997<br> Sharjah<br> 06-5986822 Ext: 86825</p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-lg-4 double-column-gutter">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-lg-12">
                                <div class="orange-top-border sidebar-block">
                                    <img src="/assets/img/sidebar-block-img1.png" alt="" />
                                    <div class="sidebar-block-contents">
                                        <h3>Is your car in need of a service?</h3>
                                        <h2 class="hotline">Call 800 mototors or</h2>
                                        <a class="readmore" href="#" title=""><img src="/assets/img/bookservice-icon.png" alt="" /><span>book a service</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-lg-12">
                                <div class="orange-top-border sidebar-block">
                                    <img src="/assets/img/sidebar-block-img2.png" alt="" />
                                    <div class="sidebar-block-contents">
                                        <h3>Is your car in need of a service?</h3>
                                        <a class="readmore" href="#" title=""><img src="/assets/img/videotour-icon.png" alt="" /><span>Video Tour</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>